version: '3.1'
services:
 db:
   image: postgres:13
   container_name: db_arquitectura
   environment:
     - POSTGRES_DB=fastapi_arquitectura
     - POSTGRES_PASSWORD=123fast
     - POSTGRES_USER=user
   ports:
     - "5432:5432"
   volumes:
     - local_pgdata:/var/lib/postgresql/data
 pgadmin:
   image: dpage/pgadmin4
   container_name: pg_arquitectura
   ports:
     - "80:80"
   environment:
     PGADMIN_DEFAULT_EMAIL: admin@admin.com
     PGADMIN_DEFAULT_PASSWORD: admin
   volumes:
     - pgadmin-data:/var/lib/pgadmin
volumes:
 local_pgdata:
 pgadmin-data: